body{
width: 80%;
margin: 0 auto;
}

.logo-container{
    width: 100%;
    display: flex;
}
.logo{
    margin: 0 auto;
}
.content{
  background-color: #eee;
  display:flex;
  flex-direction: column;
  align-items:center;
  margin-bottom: 2px;
  padding-bottom: 2px;
}
.content>p{
    margin: 0;
}
input {
    width: 20%;
}
.footer{
    display: flex;
}
.footer>div{
    margin: 2px;
    height: 100px;
    width: 100%;
}
.footer>div:nth-child(1) {
    background-color: #7ee5da;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.footer>div:nth-child(2){
  background-color: #70ccc2;
  width: 50%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  font-size: 0.8em;
}
.footer>div:nth-child(3){
    background-color: #62b3aa;
    display:flex;
   flex-direction: column;
   align-items:center;
   justify-content:center;
    font-size: 0.8em;
}
.footer>div:nth-child(3)>p{
    margin: 0px;
}
.tm{
    font-size: 00.8em;
    text-align: center;
}
.button-container{
    display: flex;
    margin: 10px;
}
.center{
    text-align: center;
    flex-wrap: wrap;
}